<div class="container" id="signin-form">
    <div class="col-xs-12 col-sm-10 col-md-8">
  
      <form (ngSubmit)="onLogin()" #f="ngForm">
  
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input 
              type="email" 
              id="email" 
              name="email" 
              class="form-control"
              required
              email
              ngModel
              #email="ngModel">
          </div>
  
          <div class="form-group">
            <label for="password1">Password:</label>
            <input 
              type="password" 
              id="password" 
              name="password" 
              class="form-control passwords" 
              required
              ngModel
              #password="ngModel">
          </div>

          <div class="row">
              <div class="col-lg-4">
                  <img [src]="backIcon" (click)="onBack()" alt="Back" id="back-icon">
              </div>
              <div class="col-lg-8">
                <button class="btn btn-primary pull-right" type="submit">Login</button>
              </div>
          </div>
  
      </form>
  
    </div>
  </div>