<div id="movie-grid-container">

    <div *ngFor="let movie of movies" class="col-lg-2">
        <img appMovieGrid
        class="img-thumbnail" 
        [src]="movie.poster" 
        alt=""
        [tooltip]="(movie.title) + ' ' + '(' + (movie.year) + ')' "
        placement="top"
        show-delay="500"
        theme="dark"
        style="width: 165px; height: 240px; object-fit:cover; border: 1px solid black; margin-bottom: 30px; cursor: pointer;"
        [routerLink]="['/movie-details/movie', movie.imdbID]">
    </div>
        
    
</div>