#movie-grid-container {
    margin-top: 1%;
}

.movieThumbnail {
    width: 165px; 
    height: 240px; 
    object-fit:cover; 
    border: 1px solid black;
    margin-bottom: 30px; 
    cursor: pointer;
}

.arrows {
    max-height: 50px;
    cursor: pointer;
}

/* .pagination {
    background: black;
    width: 100%;
} */


li {
    cursor: pointer;
}
