#movie-details-part {

    border: 2px solid #080808c4;
    border-radius: 5px;
    background: black;
    color: aliceblue;

}

#movie-title {
    color: aliceblue;
    font-size: -webkit-xxx-large;
}