<div id="movie-details-part">
    <div class="row" *ngIf="dataAvailable">

        <div class="col-lg-4" style="width: 30%">
        <img class="pull-left detail-poster" [src]="movieDetails.poster != 'N/A' ? movieDetails.poster: notFoundPoster"/>
        </div>

        <div class="col-lg-8">

            <div class="row">
                <span id="movie-title"> {{ movieDetails.title }} </span>
                <div class="pull-right" style="font-size: -webkit-xxx-large;">
                    <span>{{ movieDetails.imdbRating }}</span>
                    <img [src]="goldStar" id="gold-star">
                </div>
            </div>

            <div class="row detail-text-content">
                <div> {{ movieDetails.runtime }} | {{ movieDetails.genre }} |{{ movieDetails.released}} | {{ movieDetails.language}} </div>
            </div>

            <div class="row detail-text-content">
                <div> Rated: {{ movieDetails.rated }} </div>
            </div>

            <div class="row detail-text-content">
                <div> Director: {{ movieDetails.director }} </div>
                <div> Writer: {{ movieDetails.writer }} </div>
                <div> Actors: {{ movieDetails.actors }} </div>
            </div>

            <div class="row detail-text-content">
                <div> Plot:</div>
                <div> {{ movieDetails.plot }}</div>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <img [src]="backIcon" (click)="onBack()" alt="Back" id="back-icon">
    </div>
</div>
